<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>

</head>
<body>

  <%= debug params %>

  <% if !current_user.nil? %>
    <ul>
      <li>Logged in as: <%= current_user.user_email %></li>
      <li><%= button_to "Logout", session_url, :method => :delete %></li>
    </ul>
  <% end %>

  <%= yield %>

</body>
</html>
